{{ $css := resources.Get "css/site.css" | toCSS (dict "targetPath" "css/site.css" "enableSourceMap" false) | minify | fingerprint }}
<link rel="preload" href="{{ $css.RelPermalink }}" as="style" integrity="{{ $css.Data.Integrity }}" crossorigin="anonymous">
<link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}" crossorigin="anonymous">
{{ with site.Params.favicon.svg }}<link rel="icon" type="image/svg+xml" href="{{ relURL . }}">{{ end }}
{{ with site.Params.favicon.apple }}<link rel="apple-touch-icon" href="{{ relURL . }}">{{ end }}
{{ if site.Params.pwa.enable }}
  <link rel="manifest" href="/manifest.webmanifest">
  <meta name="theme-color" content="{{ site.Params.pwa.themeColor | default "#0d6efd" }}">
{{ end }}
